<html>
<head>
  <meta charset='UTF-8'>
  <title>RE: data analysis</title>
</head>
<body>
  <h3>Jane Doe janedoe@gmail.com Thu, Aug 18, 9:12 PM</h3>
  <h3>to ceo@data.com</h3>
  <p>Hi John Doe, I hope you had a pleasant weekend.</p>

  <p>I did my analysis and this is what the data tells us:
     <% if freq_hour_registered.length == 1 %> 
       - send mobile alerts at this hour: <%=freq_hour_registered.join(', ')%>
    <% else %>
       send mobile alerts at these hours: <%=freq_hour_registered.join(', ')%>
    <% end %>
       and increase marketing on: <%=freq_wkday_registered%>.
  </p>
  <p>Please reach out to me if you need any additional information. 
     I'll be happy to send my analysis to the marketing department.
  </p>
  <p>
     Have a good rest of your day!
     Jane Doe
  </p>
</body>
</html>